# 通用配置（所有环境共享）
server:
  port: 48888

spring:
  application:
    name: open-api
  ai:
    dashscope:
      api-key: ${ALI_API_KEY}
      agent:
        deepseek-id: "deepseek-r1"
      embedding:
        options:
          model: "text-embedding-v3"
    openai:
      api-key: ${ALI_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
      chat:
        options:
          model: qwen-max
  # 数据库
  jpa:
    hibernate:
      ddl-auto: none  # 不自动创建数据库表，初始时可设置为 none
    show-sql: true  # 显示 SQL 语句